POSTGRES_DB=challenge
POSTGRES_USER=root
POSTGRES_PASSWORD=DataEngineer_2024
POSTGRES_HOST=localhost
POSTGRES_PORT=5440
SOURCE_XLSX_PATH=data/de_challenge_data.xlsx
SHEET_NAME=FoodSales
TARGET_TABLE=food sales